@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* colors */
:root {
    --bs-text: var(--bs-body-color);
}
.bg-text {
    background: var(--bs-text);
}

/*** navbar ***/
#logo-tagline-wrap {
    display: flex;
}
.hide-dropdown-arrows .dropdown-toggle::after,
.hide-dropdown-arrows::after {
    display: none !important;
}
.nav-link:has(.hide-dropdown-arrows)::after {
    display: none !important;
}
@media screen and (min-width: 992px) {
    .navbar-nav .menu-item:first-child .nav-link {
        padding-left: 0;
    }
    .navbar-nav .menu-item:last-child .nav-link {
        padding-right: 0;
    }
}
/* dropdown icon */
.dropdown-toggle::after {
    border: none !important;
    display: inline-block !important;
    content: "" !important;
    vertical-align: -.125em !important;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/></svg>");
    background-repeat: no-repeat !important;
    background-size: 1rem 1rem !important;
    width: 1rem !important;
    height: 1rem !important;
}
/* menu icons */
.menu-icon:not(.flex-row-reverse) .menu-icon-wrapper {
    margin-right: 8px;
}
.menu-icon.flex-row-reverse .menu-icon-wrapper {
    margin-left: 8px;
}
/* cta */
.menu-item .btn,
.cta-buttons-container a {
    font-size: var(--bs-nav-link-font-size);
}
/** navbar styles **/
.header-flush .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    align-items: center;
}
.header-centered .navbar-nav {
    margin-left: auto;
    align-items: center;
}
.header-toggle .cta-buttons-container {
    margin-left: auto;
    margin-right: var(--bs-gutter-x);
}
/*** sticky nav ***/
/* nav */
#navbar-sticky {
    box-shadow: 0px 15px 10px -15px rgba(119,122,126,.16) !important;
    -webkit-box-shadow: 0px 15px 10px -15px rgba(119,122,126,.16) !important;
}
.fixed-top nav {
    border-radius: 0 !important;
}
/* transition animation */
.animated {
    animation-duration: .5s;
    animation-fill-mode: both;
    will-change: transform, opacity;
}
.animated.slideDown {
    animation-name: slideDown;
}
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
.animated.slideUp {
    animation-name: slideUp;
}
@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
/*** top menu ***/
.top-menu ul {
    display: block;
}
.top-menu ul li {
    display: inline-block;
}
/*** footer ***/
/** back to top button **/
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100px !important;
    align-items: center;
    justify-content: center;
    background: rgba(75,75,75,.6);
    height: 40px;
    width: 40px;
    color: #fff;
    font-size: 20px;
    border: none;
}
#btn-back-to-top i {
    position: relative;
}

/*** layout ***/
/** containers **/
.element-container {
    position: relative;
    max-width: 100% !important;
}
/* min-height */
@media screen and (max-width: 768px) {
    .has-min-height {
        min-height: 400px !important;
    }
}
/* normal min height */
.min-height-view-height {
    min-height: calc(100svh - var(--header-height));
}
@media screen and (min-width: 783px) {
    .logged-in .min-height-view-height {
        min-height: calc(100svh - var(--header-height-logged-in));
    }
}
@media screen and (max-width: 782px) {
    .logged-in .min-height-view-height {
        min-height: calc(100svh - var(--header-height-logged-in-mobile));
    }
}
/** body negative margin **/
.body-negative-margin header {
    top: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
}
.body-negative-margin #theme-main {
    margin-top: var(--header-height);
}
.logged-in.body-negative-margin header {
    top: 32px;
}
@media screen and (max-width: 782px) {
    .logged-in.body-negative-margin header {
        top: 46px;
    }
}
/* min height for rounded menu */
.min-height-view-height-rounded {
    min-height: 100svh;
}
@media screen and (min-width: 783px) {
    .logged-in .min-height-view-height-rounded {
        min-height: calc(100svh - 32px);
    }
}
@media screen and (max-width: 782px) {
    .logged-in .min-height-view-height-rounded {
        min-height: calc(100svh - 8px);
    }
}
/** rows **/
.element-container .row {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
/** columns **/
/*** background ***/
.bg-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.bg-container .overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.bg-image-container-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bg-image-container {
    display: block;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.bg-image,
.bg-image * {
    width: 100%;
    height: 100%;
}
.bg-image.object-fit-cover,
.bg-image.object-fit-cover * {
    object-fit: cover !important;
}
.bg-image.object-fit-contain,
.bg-image.object-fit-contain * {
    object-fit: contain !important;
}
.bg-image.object-fit-fill,
.bg-image.object-fit-fill * {
    object-fit: fill !important;
}
.bg-image.object-fit-scale,
.bg-image.object-fit-scale * {
    object-fit: scale !important;
}
.bg-image.object-fit-none,
.bg-image.object-fit-none * {
    object-fit: none !important;
}
/* background video */
.element-container > .bg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100%;
    transform: translateX(-50%) translateY(-50%);
}
/* object position */
@media screen and (min-width: 1400px) {
    .object-position-xxl-center-center,
    .object-position-xxl-center-center * {
        object-position: center !important;
    }
    .object-position-xxl-center-left,
    .object-position-xxl-center-left * {
        object-position: left !important;
    }
    .object-position-xxl-center-right,
    .object-position-xxl-center-right * {
        object-position: right !important;
    }
    .object-position-xxl-top-center,
    .object-position-xxl-top-center * {
        object-position: top !important;
    }
    .object-position-xxl-top-left,
    .object-position-xxl-top-left * {
        object-position: left top !important;
    }
    .object-position-xxl-top-right,
    .object-position-xxl-top-right * {
        object-position: right top !important;
    }
    .object-position-xxl-bottom-center,
    .object-position-xxl-bottom-center * {
        object-position: bottom !important;
    }
    .object-position-xxl-bottom-left,
    .object-position-xxl-bottom-left * {
        object-position: left bottom !important;
    }
    .object-position-xxl-bottom-right,
    .object-position-xxl-bottom-right * {
        object-position: right bottom !important;
    }
}
@media screen and (min-width: 1200px) {
    .object-position-xl-center-center,
    .object-position-xl-center-center * {
        object-position: center !important;
    }
    .object-position-xl-center-left,
    .object-position-xl-center-left * {
        object-position: left !important;
    }
    .object-position-xl-center-right,
    .object-position-xl-center-right * {
        object-position: right !important;
    }
    .object-position-xl-top-center,
    .object-position-xl-top-center * {
        object-position: top !important;
    }
    .object-position-xl-top-left,
    .object-position-xl-top-left * {
        object-position: left top !important;
    }
    .object-position-xl-top-right,
    .object-position-xl-top-right * {
        object-position: right top !important;
    }
    .object-position-xl-bottom-center,
    .object-position-xl-bottom-center * {
        object-position: bottom !important;
    }
    .object-position-xl-bottom-left,
    .object-position-xl-bottom-left * {
        object-position: left bottom !important;
    }
    .object-position-xl-bottom-right,
    .object-position-xl-bottom-right * {
        object-position: right bottom !important;
    }
}
@media screen and (min-width: 992px) {
    .object-position-lg-center-center,
    .object-position-lg-center-center * {
        object-position: center !important;
    }
    .object-position-lg-center-left,
    .object-position-lg-center-left * {
        object-position: left !important;
    }
    .object-position-lg-center-right,
    .object-position-lg-center-right * {
        object-position: right !important;
    }
    .object-position-lg-top-center,
    .object-position-lg-top-center * {
        object-position: top !important;
    }
    .object-position-lg-top-left,
    .object-position-lg-top-left * {
        object-position: left top !important;
    }
    .object-position-lg-top-right,
    .object-position-lg-top-right * {
        object-position: right top !important;
    }
    .object-position-lg-bottom-center,
    .object-position-lg-bottom-center * {
        object-position: bottom !important;
    }
    .object-position-lg-bottom-left,
    .object-position-lg-bottom-left * {
        object-position: left bottom !important;
    }
    .object-position-lg-bottom-right,
    .object-position-lg-bottom-right * {
        object-position: right bottom !important;
    }
}
@media screen and (min-width: 769px) {
    .object-position-md-center-center,
    .object-position-md-center-center * {
        object-position: center !important;
    }
    .object-position-md-center-left,
    .object-position-md-center-left * {
        object-position: left !important;
    }
    .object-position-md-center-right,
    .object-position-md-center-right * {
        object-position: right !important;
    }
    .object-position-md-top-center,
    .object-position-md-top-center * {
        object-position: top !important;
    }
    .object-position-md-top-left,
    .object-position-md-top-left * {
        object-position: left top !important;
    }
    .object-position-md-top-right,
    .object-position-md-top-right * {
        object-position: right top !important;
    }
    .object-position-md-bottom-center,
    .object-position-md-bottom-center * {
        object-position: bottom !important;
    }
    .object-position-md-bottom-left,
    .object-position-md-bottom-left * {
        object-position: left bottom !important;
    }
    .object-position-md-bottom-right,
    .object-position-md-bottom-right * {
        object-position: right bottom !important;
    }
}
@media screen and (min-width: 500px) {
    .object-position-sm-center-center,
    .object-position-sm-center-center * {
        object-position: center !important;
    }
    .object-position-sm-center-left,
    .object-position-sm-center-left * {
        object-position: left !important;
    }
    .object-position-sm-center-right,
    .object-position-sm-center-right * {
        object-position: right !important;
    }
    .object-position-sm-top-center,
    .object-position-sm-top-center * {
        object-position: top !important;
    }
    .object-position-sm-top-left,
    .object-position-sm-top-left * {
        object-position: left top !important;
    }
    .object-position-sm-top-right,
    .object-position-sm-top-right * {
        object-position: right top !important;
    }
    .object-position-sm-bottom-center,
    .object-position-sm-bottom-center * {
        object-position: bottom !important;
    }
    .object-position-sm-bottom-left,
    .object-position-sm-bottom-left * {
        object-position: left bottom !important;
    }
    .object-position-sm-bottom-right,
    .object-position-sm-bottom-right * {
        object-position: right bottom !important;
    }
}
.object-position-center-center,
.object-position-center-center * {
    object-position: center;
}
.object-position-center-left,
.object-position-center-left * {
    object-position: left;
}
.object-position-center-right,
.object-position-center-right * {
    object-position: right;
}
.object-position-top-center,
.object-position-top-center * {
    object-position: top;
}
.object-position-top-left,
.object-position-top-left * {
    object-position: left top;
}
.object-position-top-right,
.object-position-top-right * {
    object-position: right top;
}
.object-position-bottom-center,
.object-position-bottom-center * {
    object-position: bottom;
}
.object-position-bottom-left,
.object-position-bottom-left * {
    object-position: left bottom;
}
.object-position-bottom-right,
.object-position-bottom-right * {
    object-position: right bottom;
}

/*** elements ***/
/** paragraph **/
/* remove bottom margin from last p */
.no-margin-bottom p:last-child {
    margin-bottom: 0;
}